<div class="container">
  <div class="row my-xxl-5">
    <div class="col"></div>
    <div class="col">
      <app-user-init></app-user-init>
    </div>
    <div class="col"></div>
  </div>
  <div class="row mb-xxl-3">
    <app-user-measurement-charts></app-user-measurement-charts>
  </div>
  <div class="row mb-xxl-5">
    <div class="col">
      <app-user-overview></app-user-overview>
    </div>
    <div class="col">
      <app-measurement-warning></app-measurement-warning>
    </div>
  </div>
</div>
